.title {
    font-family: 'Roboto Medium';
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #121417;
    margin-bottom: 20px;
}

.text {
    font-family: 'Roboto Regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
    color: rgba(18, 20, 23, 0.8);
}

.wrapper {
    width: 438px;
}

.form {
    margin-top: 40px;
}

.wrapperForm {
    display: flex;
    flex-direction: column;
    gap: 18px
}

.input {

    border: 1px solid rgba(18, 20, 23, 0.1);
    border-radius: 12px;
    padding: 16px 18px;
    width: 438px;
    height: 54px;
}

.input::placeholder {
    font-family: 'Roboto Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.37;
    color: #121417;
}

.form button {
    font-family: 'Roboto Italic', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.56;
    color: #121417;
    margin-top: 40px;
    border-radius: 12px;
    padding: 16px;
    width: 438px;
    height: 60px;
    background: #f4c550;
}