.list {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.list li {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  display: flex;
  gap: 12px;
  font-family: 'Roboto Medium';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #8a8a89;
}
.rating {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 2px;
  font-size: 14px;
  line-height: 1.3;
  color: #121417;
}
.text {
  font-family: 'Roboto Medium';
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #121417;
}
